body, h1, h2, h3, h4, h6, h6, p {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
}

.header {
    width: 100%;
    background: url(../images/waves.png) no-repeat bottom center, linear-gradient(-32deg, #0e97bb 0%, #3f51b5 100% );
    margin: 0 auto 0;
    display: inline-block;
    padding: 30px 0 0;
}

.header .bar{
    background-color: transparent;
    box-shadow: none;
}

.app-bar {
    background: transparent;
    margin: 40px 0 10px 0;
}

.hero-content {
    color: #fff;
    padding: 60px 0 70px;
    text-align: center;
}

.hero-content h1 {
    font-size: 38px;
    font-weight: 700;
    line-height: 1.2em;
    margin: 0;
    padding: 0;
}

.hero-description {
    font-size: 18px;
    text-align: center;
    padding: 0 10%;
    line-height: 1.6em;
    color: #e2e1ee;
    margin: 10px 0;
}

.filter-chip .close-icon {
    width: 15px;
    top: 10px;
    right: 10px;
    position: absolute;
    cursor: pointer;
}


form.filter-chip {
    width: 150px;
    float: left;
    background: #eee;
    border-radius: 2px;
    text-align: left;
    padding: 7px 15px;
    margin-top: 10px;
    margin-right: 10px;
    position: relative;
}

form.filter-chip.date {
    width: 350px;
}

form.filter-chip.date input {
    width: 150px;
}

form.filter-chip.range input {
    width: 40px;
    margin:0 5px;
}

form.filter-chip.text input {
    width: 100px;
}

.filter-chip div:first-child {
    margin: 0;
}

.MuiFormControl-root-95 {
    width: 80%;
}
